@import url('https://fonts.cdnfonts.com/css/product-sans');

html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #000;
	font-family: "Product Sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
}